@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;
  --background: #FFFFFF;
  --foreground: #252429;
  --card: #FFFFFF;
  --card-foreground: #252429;
  --popover: #f8f7f7;
  --popover-foreground: #252429;
  --primary: #f72626;
  --primary-foreground: #FDF5F3;
  --secondary: #F6F6F7;
  --secondary-foreground: #363439;
  --muted: #F6F6F7;
  --muted-foreground: #8F8C93;
  --accent: #F6F6F7;
  --accent-foreground: #363439;
  --destructive: #eb3030;
  --border: #ECECED;
  --input: #ECECED;
  --ring: #F16D4C;
  --chart-1: #F37859;
  --chart-2: #4CA4A2;
  --chart-3: #406283;
  --chart-4: #C8CB83;
  --chart-5: #B5A96B;
  --sidebar: #FAFAFA;
  --sidebar-foreground: #252429;
  --sidebar-primary: #F16D4C;
  --sidebar-primary-foreground: #FDF5F3;
  --sidebar-accent: #F6F6F7;
  --sidebar-accent-foreground: #363439;
  --sidebar-border: #ECECED;
  --sidebar-ring: #F16D4C;
}

.dark {
  --background: #252429;
  --foreground: #FAFAFA;
  --card: #363439;
  --card-foreground: #FAFAFA;
  --popover: #313033;
  --popover-foreground: #FAFAFA;
  --primary: #ec3838;
  --primary-foreground: #FDF5F3;
  --secondary: #454449;
  --secondary-foreground: #FAFAFA;
  --muted: #454449;
  --muted-foreground: #B6B4BB;
  --accent: #454449;
  --accent-foreground: #FAFAFA;
  --destructive: #f12b2b;
  --border: #FFFFFF1A;
  --input: #FFFFFF26;
  --ring: #F16D4C;
  --chart-1: #6A6BE8;
  --chart-2: #7AC8C0;
  --chart-3: #B5A96B;
  --chart-4: #A96BE2;
  --chart-5: #EF6953;
  --sidebar: #363439;
  --sidebar-foreground: #FAFAFA;
  --sidebar-primary: #F16D4C;
  --sidebar-primary-foreground: #FDF5F3;
  --sidebar-accent: #454449;
  --sidebar-accent-foreground: #FAFAFA;
  --sidebar-border: #FFFFFF1A;
  --sidebar-ring: #F16D4C;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
